body {
    background-color: rgb(7, 17, 5);

}

canvas {
    border: 3px rgb(22, 145, 0) dashed;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container h2 {
    display: flex;
    margin-bottom: 5px;
    color: rgb(22, 145, 0);
    font-size: 2rem;
    font-family: "Comic Sans MS", "Comic Sans", cursive;;
}

.container canvas {
    display: flex;
}
/* 
.container canvas {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);               
} */